@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> This application has been developed for the final stage of the assessment process of the GFT Internship program, in which the Architecture exercise requires the development of this Demo application.</p>
