@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<IMG SRC="https://aarobotec.ponteenlinea.net/pluginfile.php/3895/block_html/content/load.gif" width="300" height="250">

<address>
    Costa Rica<br />
    Heredia San Pablo<br />   
</address>

<address>
    <strong>Contact number:</strong>   <a>506 84854046</a><br />
    <strong>Email:</strong>   <a>ganeshdan89@gmail.com</a><br />
</address>