@{
    ViewBag.Title = "Home Page";
}
<h3></h3>

<div class="jumbotron" style="background-color: dodgerblue; font-Family: Georgia ">
    <h1 style="color: whitesmoke; text-align: center;">GFT Technologies</h1>
    <h1></h1>
    <IMG SRC="https://www.gft.com/.imaging/focalpoint/970x582/dam/jcr:cfad4082-944e-4b5d-843a-43854f167670" width="400" height="250" class="center-block">

    <p style="text-align:right;"><a href="/Employee/Index/" class="btn btn-info">Start Employee Mockup WebDemo <i class="glyphicon glyphicon-triangle-right"></i></a></p>
    <p style="color:whitesmoke ;font-Family: Georgia; font-size: 20px; text-align:right;">GFT Architecture Exercise </p>
    <p style="color:whitesmoke ;font-Family: Georgia; font-size: 15px; text-align:right;">Daniel Badilla Chaves</p>

</div>
   




<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Employee Mockup WebDemo is an application that allows you to consult, enter, update or terminate company employees.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>General information</h2>
        <p>This is a basic proposal to the client or Demo app to exemplify the navigation and basic use, which we will call Employee Mockup WebDemo.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Technical information</h2>
        <p>
            This application has been created with Visual Studio 2022 using the ASP.NET web framework, SQL Server was also used to store the data through ADO.NET.
        </p>
        
    </div>
</div>